# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
.kotlin/

# Gradle (Evita subir los compilados pesados de cualquier subcarpeta)
.gradle/
build/
**/build/

# IntelliJ IDEA (Evita subir tu configuración personal del editor)
.idea/
*.iml
*.iws
out/

# Sistema Operativo (Archivos ocultos basura de Mac y Windows)
.DS_Store
Thumbs.db